.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;

  &__li {
    margin-right: 20px;
  }

  &__a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 40px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
